{# templates/list_patrons.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>List of Patrons</title>
</head>
<body>
    <h1>List of Patrons</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for patron in patrons %}
                <tr>
                    <td>{{ patron.name }}</td>
                    <td>{{ patron.email }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No patrons found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('insert_patron') }}">Add Another Patron</a>
</body>
</html>